<Template name="message">
    <section id="message" class="message section has-pattern">
            <div class="author-message">
                <div class="profile">
                    <img class="img-responsive" src="images/avatar.png" alt="" />
                </div>
                <!--//profile-->
                <div class="speech-bubble">
                    <p>{{text}}</p>
                    <div class="source">
                        <span class="name"><a href="https://twitter.com/6footgeek" target="_blank">Andy</a></span>
                        <br />
                        <span class="title">Founder</span>
                    </div>
                </div>
            </div>

    </section>
</template>
